/* Hannah Watts- June 15th, 2025 */

/* Global styles for the document (body) */
body {
    font-family: "Arial", sans-serif;
    background-color: #d7c7aa;
    color: #926f4f;
    font-size: 16px;
}

/* Styles for the header element */
header {
    background-color: #00602b; /* Green for Italian vibe */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
}

/* Styles for h2 and h3 elements */
h2, h3 {
    color: #342517;
}

/* Styles for p elements */
p {
    color: #230e06;
    background-color: #ffffff;
}

/* Styles for a class called highlight */
.highlight {
    font-weight: bold;
    color: #ee1e28;
    font-style: italic;
}

/* Styles for a class named special-item */
.special-item {
    background-color: #ffffff;
}

/* Styles for an ID named footer */
#footer {
    text-align: center;
    color: white;
    background-color: #bb161d;
}